

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Roboto", sans-serif;
    }
</style>

<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:100%; max-height:100%;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">

                    <div class="w3-container" style="overflow-y: auto; height: 90vh;">
                        <div class="w3-card w3-white" style="position: absolute; width: 30.4%;">
                            <h2 class="w3-text-grey w3-padding-16"><i
                                    class="fa fa-list fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>User List</h2>
                        </div>
                        <br><br><br><br>
                        <app-user-list-ui></app-user-list-ui>
                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird" style="overflow-y: auto; height: 90vh;">
                <div class="w3-card w3-white" style="position: absolute; width: 64.4%;">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-address-card fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>User Detail
                    </h2>
                </div>
                <br><br><br><br>
                <router-outlet></router-outlet>
                
                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-teal w3-center w3-margin-top">
        <p>Find me on social media.</p>
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

</body>

</html>
